<md-toolbar class="navbar" color="primary">
  <img src="/assets/logo-mini.png" alt="many pizzas logo">
  <span>ManyPizzas</span>
  <span class="menu-separator"></span>
  <button md-button [mdMenuTriggerFor]="mainMenu">
    <md-icon class="menu-item">menu</md-icon>
  </button>
</md-toolbar>

<md-menu #mainMenu="mdMenu">
  <button routerLink="/pizzas" md-menu-item>
    <md-icon svgIcon="pizza"></md-icon>
    <span>Pizzas</span>
  </button>
  <button md-menu-item>
    <md-icon>login</md-icon>
    <span>Login</span>
  </button>
</md-menu>
